

{% extends 'base.html' %}
{% load static %}
{% block main_content %}
  <div class="container mx-auto">
    <section>
      <div class="flex grid grid-cols-12 gap-4">
        <div class="col-span-4 h-10 bg-green-500"></div>
        <div class="col-span-8 h-10 bg-green-500"></div>
      </div>
    </section>
    <section class="my-5">
      <div class="h-10 bg-green-500"></div>
      <div class="card-container grid grid-cols-12 gap-4 py-4">
        <div class="product-card col-span-2 border rounded-lg shadow-md">
            <div class="pd-card-body h-72 w-52 overflow-hidden" onmouseover="onCursorImg(event)" onmouseout="outCursorImg()">
              <div class="img w-full overflow-hidden" id="img" >
                <img class="h-full w-full object-cover" src="https://d2v5dzhdg4zhx3.cloudfront.net/web-assets/images/storypages/primary/ProductShowcasesampleimages/JPEG/Product+Showcase-1.jpg" alt="Product Image">
                </div>
                <div class="pd-cart-text p-2">
                    <h3 class="card-title text-lg font-semibold">Product 1</h3>
                    <h4 class="text-base font-medium">$150 <span class="line-through text-gray-500">$300</span></h4>
                    <h4 class="text-sm">***** <span class="text-gray-500">(15 reviews)</span></h4>
                </div>
            </div>
        </div>
    </div>
    
    </section>
  </div>
  <script src="{% static 'scripts/index.js' %}"></script>
{% endblock %}
